body {
    background-color: #212121;
    color: white;
    font-family: Pixelify Sans, Verdana;

    min-height: 100vh;          /* full viewport height */
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(#AAD9CE, #5066A4);
    text-align: center;
    height: 600px;
    min-width: 450px;
    border-radius: 20px;
    max-width: fit-content;
}

.search-bar {
    background: white;
    opacity: 0.3;
    border-radius: 30px;
    border: none;
    width: 350px;
    margin: 20px;
    height: 60px;
    font-size: 40px;
    padding: 0px 30px;
        
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-self: start;
}


.search-input {
    border: none;
    background: white;
    width: 300px;
    font-size: 40px;
    font-family: Pixelify Sans, Verdana;
    outline: none;
}

.search-icon {
    height: 30px;
    border: none;
    background: white;
    box-shadow: none;
    margin-top: -30px;
    padding: 10px;
    cursor: pointer;
}

.search-icon img {
    height: 40px;
}

.weather-emoji {
    height: 200px;
    margin-top: -200px;
}

.city-and-temp {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-self: center;
    margin-top: -220px;
    max-width: 300px;
}


.current-temp {
    font-size: 70px;
    margin-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-shrink: 1;
    margin-top: -15px;
}

.city {
    display: flex;
    flex-shrink: 1;
}

.temperature-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 25px;
}

.low-and-high-temp {
    display: flex;
    flex-direction: column;
    align-items: space-betweens;
    justify-content: space-between;
    height: 70px;
}


.celcius-button, .fahrenheit-button{
    border: none;
    height: 50px;
    width: 65px;
    font-size: 30px;
    font-family: Pixelify Sans, Verdana;
    color: black;
    background-color: rgb(255, 255, 255, 0.3);
    cursor: pointer;
}

.fahrenheit-button:hover, .celcius-button:hover {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    transition: background-color 0.2s;
}

.temp-unit {
    display: flex;
    overflow: hidden;
    border-radius: 30px;
}

.error {
    font-size: 30px;
    margin-bottom: 280px;
}





