body {
    background-color: #212121;
    color: white;
    font-family: Pixelify Sans, Verdana;

    min-height: 100vh;          /* full viewport height */
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(#AAD9CE, #5066A4);
    text-align: center;
    height: 660px;
    width: 450px;

    border-radius: 20px;
}

.search-bar {
    background: white;
    opacity: 0.3;
    border-radius: 30px;
    border: none;
    width: 350px;
    margin: 20px;
    height: 60px;
    font-size: 40px;
    padding: 0px 30px;

    display: flex;
    justify-content: space-between;
}
.search-input {
    border: none;
    background: white;
    width: 300px;
    font-size: 40px;
}

.search-icon {
    height: 30px;
    border: none;
    background: white;
    box-shadow: none;

    padding: 10px;
}

.search-icon img {
    height: 40px;
}

.weather-emoji {
    height: 250px;
    margin-top: -180px;
}

.city-and-temp {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: -200px;
    align-items: center;
}

.current-temp {
    font-size: 70px;
}

.temperature-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 25px;
}

.low-and-high-temp {
    display: flex;
    flex-direction: column;
    align-items: space-betweens;
    justify-content: space-between;
    height: 70px;
}


.celcius-button, .farenheit-button{
    border: none;
    height: 50px;
    width: 65px;
    font-size: 30px;
    font-family: Pixelify Sans, Verdana;
    color: black;
    opacity: 0.3;
}

.temp-unit {
    display: flex;
    overflow: hidden;
    border-radius: 30px;
}





